p {
  margin-bottom: 10px;
}

.hero {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: -webkit-linear-gradient(350deg, #000, transparent), url('../images/home-banner.jpg');
  background-image: linear-gradient(100deg, #000, transparent), url('../images/home-banner.jpg');
  background-position: 0px 0px, 81% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.logo {
  margin-bottom: 30px;
}

.hero-wrapper {
  width: 50%;
}

.all-h2 {
  margin-bottom: 40px;
  color: #fff;
  font-size: 19px;
  line-height: 26px;
  font-weight: 100;
}

.field-lable {
  margin-bottom: 10px;
  color: hsla(0, 0%, 100%, .7);
  font-size: 13px;
  font-weight: 100;
  text-transform: uppercase;
}

.text-field {
  width: 70%;
  height: 50px;
  float: left;
  border: 2px solid #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #181818;
  font-weight: 300;
}

.submit-btn {
  width: 30%;
  height: 50px;
  border: 2px solid #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #92d3a7;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.submit-btn:hover {
  border-color: #fff;
  background-color: #a7f1bf;
}

.teasor {
  padding-top: 80px;
  padding-bottom: 80px;
}

.paragraph {
  margin-bottom: 30px;
  font-size: 16px;
}

.social-icon {
  margin-right: 20px;
}

.social-icon:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.social-icon.fb {
  margin-right: 0px;
}

.copyright {
  padding-top: 3px;
  font-weight: 400;
  text-align: right;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f7f7f7;
}

.body {
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.h1 {
  color: #fff;
  font-size: 58px;
  line-height: 60px;
  font-weight: 200;
}

.h3 {
  font-size: 20px;
  line-height: 26px;
}

.link {
  color: #92d3a7;
  font-weight: 400;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.tw {
  margin-right: 0px;
}

.teaser-wrapper {
  text-align: center;
}

@media (max-width: 767px) {
  .hero {
    background-image: -webkit-linear-gradient(90deg, #000, transparent), url('../images/home-banner.jpg');
    background-image: linear-gradient(0deg, #000, transparent), url('../images/home-banner.jpg');
    background-position: 0px 0px, 81% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, scroll;
  }
  .hero-wrapper {
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
  }
  .copyright {
    text-align: center;
  }
  .body {
    text-align: center;
  }
  .teaser-wrapper {
    margin-bottom: 60px;
    padding-right: 150px;
    padding-left: 150px;
  }
}

@media (max-width: 479px) {
  .hero-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
  .all-h2 {
    font-size: 18px;
  }
  .text-field {
    width: 100%;
    margin-bottom: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
  }
  .submit-btn {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 3px;
    font-size: 11px;
  }
  .h1 {
    font-size: 46px;
  }
  .teaser-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
}